.usa-hero{
    font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size:1.06rem;
    line-height:1.5;
    background-image:url("../images/KincaidAcrossInlet.jpg");
    background-position:center;
    background-size:cover;
    color:white;
  }
  
  .pointer {cursor: pointer;}